<div class="container">
<p id="notice"><%= notice %></p>

<h1>Sorts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sort name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorts.each do |sort| %>
      <tr>
        <td><%= sort.sort_name %></td>
        <td><%= link_to 'Show', sort, class: "btn btn-success", style: "color:white" %></td>
        <td><%= link_to 'Edit', edit_sort_path(sort), class: "btn btn-warning", style: "color:white" %></td>
        <td><%= link_to 'Destroy', sort, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger", style: "color:white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增', new_sort_path, class: "btn btn-info", style: "color:white" %>
<%= link_to "返回", welcome_index_path, class: "btn btn-primary", style: "color:white" %>

</div>