<p id="notice"><%= notice %></p>


<div class="container">
<h1>商品</h1>

<div class="table-responsive -sm">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">商品名稱</th>
        <th scope="col">類別</th>
        <th scope="col">庫存</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.item_name %></td>
          <td><%= item.sort_name %></td>
          <td><%= item.stock %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to "新增商品", new_item_path, class: "btn btn-info", style: "color:white" %>
<%= link_to "返回", welcome_index_path, class: "btn btn-primary", style: "color:white" %>
</div>

